{
  // depends on NODE_ENV variable.
  "env": {

    "development": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties"
      ],
      "presets": [ "@babel/preset-env" ]
    },


    "production": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties"
      ],
      "presets": [ "@babel/preset-env" ]
    },

    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties"
      ],
      "presets": [ "@babel/preset-env" ]
    }

  }
}
